<?xml version="1.0" encoding="UTF-8"?>
<Config>
  <Channel Text="基本权限" Key="SocoShop_">
    <Block Text="基本设置权限">
      <Item Text="管理别人" Value="ManageOther"  NeedOther="False"/>
      <Item Text="产品说明" Value="Product"  NeedOther="False"/>
      <Item Text="查看系统设置" Value="ReadConfig"  NeedOther="False"/>
      <Item Text="更改系统设置" Value="UpdateConfig"  NeedOther="False"/>
      <Item Text="查看语言包" Value="ReadLanguage"  NeedOther="False"/>
      <Item Text="修改语言包" Value="UpdateLanguage"  NeedOther="False"/>
      <Item Text="密码修改" Value="UpdatePassword"  NeedOther="False"/>
      <Item Text="模板管理" Value="Template"  NeedOther="False"/>
      <Item Text="网站地图" Value="Sitemap"  NeedOther="False"/>
    </Block>
    <Block Text="菜单管理权限">
      <Item Text="查看菜单" Value="ReadMenu"  NeedOther="False"/>
      <Item Text="添加菜单" Value="AddMenu"  NeedOther="False"/>
      <Item Text="修改菜单" Value="UpdateMenu"  NeedOther="False"/>
      <Item Text="删除菜单" Value="DeleteMenu"  NeedOther="False"/>
    </Block>
    <Block Text="管理组管理权限">
      <Item Text="查看管理组" Value="ReadAdminGroup"  NeedOther="False"/>
      <Item Text="添加管理组" Value="AddAdminGroup"  NeedOther="False"/>
      <Item Text="修改管理组" Value="UpdateAdminGroup"  NeedOther="False"/>
      <Item Text="删除管理组" Value="DeleteAdminGroup"  NeedOther="False"/>
    </Block>
    <Block Text="管理员管理权限">
      <Item Text="查看管理员" Value="ReadAdmin"  NeedOther="False"/>
      <Item Text="添加管理员" Value="AddAdmin"  NeedOther="False"/>
      <Item Text="修改管理员" Value="UpdateAdmin"  NeedOther="False"/>
      <Item Text="删除管理员" Value="DeleteAdmin"  NeedOther="False"/>
    </Block>
    <Block Text="管理日志管理权限">
      <Item Text="查看管理日志" Value="ReadAdminLog"  NeedOther="False"/>
      <Item Text="删除管理日志" Value="DeleteAdminLog"  NeedOther="False"/>
    </Block>
    <Block Text="地区管理权限">
      <Item Text="查看地区" Value="ReadRegion"  NeedOther="False"/>
      <Item Text="添加地区" Value="AddRegion"  NeedOther="False"/>
      <Item Text="修改地区" Value="UpdateRegion"  NeedOther="False"/>
      <Item Text="删除地区" Value="DeleteRegion"  NeedOther="False"/>
    </Block>
    <Block Text="文章分类权限">
      <Item Text="添加文章分类" Value="AddArticleClass"  NeedOther="False"/>
      <Item Text="修改文章分类" Value="UpdateArticleClass"  NeedOther="False"/>
      <Item Text="删除文章分类" Value="DeleteArticleClass"  NeedOther="False"/>
      <Item Text="查看文章分类" Value="ReadArticleClass"  NeedOther="False"/>
    </Block>
    <Block Text="文章权限">
      <Item Text="添加文章" Value="AddArticle"  NeedOther="False"/>
      <Item Text="修改文章" Value="UpdateArticle"  NeedOther="False"/>
      <Item Text="删除文章" Value="DeleteArticle"  NeedOther="False"/>
      <Item Text="查看文章" Value="ReadArticle"  NeedOther="False"/>
    </Block>
    <Block Text="支付管理权限">
      <Item Text="查看支付" Value="ReadPay"  NeedOther="False"/>
      <Item Text="添加支付" Value="AddPay"  NeedOther="False"/>
      <Item Text="修改支付" Value="UpdatePay"  NeedOther="False"/>
      <Item Text="删除支付" Value="DeletePay"  NeedOther="False"/>
    </Block>
    <Block Text="物流管理权限">
      <Item Text="查看物流" Value="ReadShipping"  NeedOther="False"/>
      <Item Text="添加物流" Value="AddShipping"  NeedOther="False"/>
      <Item Text="修改物流" Value="UpdateShipping"  NeedOther="False"/>
      <Item Text="删除物流" Value="DeleteShipping"  NeedOther="False"/>
    </Block>
    <Block Text="物流地区管理权限">
      <Item Text="查看物流地区" Value="ReadShippingRegion"  NeedOther="False"/>
      <Item Text="添加物流地区" Value="AddShippingRegion"  NeedOther="False"/>
      <Item Text="修改物流地区" Value="UpdateShippingRegion"  NeedOther="False"/>
      <Item Text="删除物流地区" Value="DeleteShippingRegion"  NeedOther="False"/>
    </Block>
    <Block Text="地址重写管理权限">
      <Item Text="查看地址重写" Value="ReadURLRewriter"  NeedOther="False"/>
      <Item Text="添加地址重写" Value="AddURLRewriter"  NeedOther="False"/>
      <Item Text="修改地址重写" Value="UpdateURLRewriter"  NeedOther="False"/>
      <Item Text="删除地址重写" Value="DeleteURLRewriter"  NeedOther="False"/>
    </Block>
    <Block Text="活动插件管理权限">
      <Item Text="读取活动插件" Value="ReadActivityPlugins" NeedOther="False"/>
      <Item Text="修改活动插件" Value="UpdateActivityPlugins" NeedOther="False"/>
    </Block>
    <Block Text="团购活动管理权限">
      <Item Text="添加团购活动" Value="AddGroupBuy" NeedOther="False"/>
      <Item Text="修改团购活动" Value="UpdateGroupBuy" NeedOther="False"/>
      <Item Text="删除团购活动" Value="DeleteGroupBuy" NeedOther="False"/>
      <Item Text="查看团购活动" Value="ReadGroupBuy" NeedOther="False"/>
      <Item Text="删除用户团购活动" Value="DeleteUserGroupBuy" NeedOther="False"/>
      <Item Text="查看用户团购活动" Value="ReadUserGroupBuy" NeedOther="False"/>
    </Block>
    <Block Text="兑换奖品管理权限">
      <Item Text="读取兑换奖品" Value="ReadExchangeAward" NeedOther="False"/>
      <Item Text="修改兑换奖品" Value="UpdateExchangeAward" NeedOther="False"/>
    </Block>
    <Block Text="登录插件管理权限">
      <Item Text="查看登录插件" Value="ReadLoginPlugins"  NeedOther="False"/>
      <Item Text="修改登录插件" Value="UpdateLoginPlugins"  NeedOther="False"/>
    </Block>
  </Channel>
  
  <Channel Text="商品管理" Key="SocoShop_">
    <Block Text="商品权限">
      <Item Text="添加商品" Value="AddProduct"  NeedOther="False"/>
      <Item Text="修改商品" Value="UpdateProduct"  NeedOther="False"/>
      <Item Text="下架商品" Value="OffSaleProduct"  NeedOther="False"/>
      <Item Text="上架商品" Value="OnSaleProduct"  NeedOther="False"/>
      <Item Text="查看商品" Value="ReadProduct"  NeedOther="False"/>     
    </Block>
    <Block Text="商品评论权限">
      <Item Text="修改商品评论" Value="UpdateProductComment" NeedOther="False"/>
      <Item Text="删除商品评论" Value="DeleteProductComment"  NeedOther="False"/>
      <Item Text="查看商品评论" Value="ReadProductComment" NeedOther="False"/>
    </Block>
    <Block Text="商品回复权限">
      <Item Text="删除商品回复" Value="DeleteProductReply"  NeedOther="False"/>
      <Item Text="查看商品回复" Value="ReadProductReply" NeedOther="False"/>
    </Block>
    <Block Text="商品分类权限">
      <Item Text="添加商品分类" Value="AddProductClass"  NeedOther="False"/>
      <Item Text="修改商品分类" Value="UpdateProductClass"  NeedOther="False"/>
      <Item Text="删除商品分类" Value="DeleteProductClass" NeedOther="False"/>
      <Item Text="查看商品分类" Value="ReadProductClass"  NeedOther="False"/>
    </Block>
    <Block Text="商品品牌管理权限">
      <Item Text="添加商品品牌" Value="AddProductBrand"  NeedOther="False"/>
      <Item Text="修改商品品牌" Value="UpdateProductBrand"  NeedOther="False"/>
      <Item Text="删除商品品牌" Value="DeleteProductBrand"  NeedOther="False"/>
      <Item Text="查看商品品牌" Value="ReadProductBrand"  NeedOther="False"/>
    </Block>    
    <Block Text="属性组管理权限">
      <Item Text="添加属性组" Value="AddAttributeClass"  NeedOther="False"/>
      <Item Text="修改属性组" Value="UpdateAttributeClass"  NeedOther="False"/>
      <Item Text="删除属性组" Value="DeleteAttributeClass" NeedOther="False"/>
      <Item Text="查看属性组" Value="ReadAttributeClass" NeedOther="False"/>
    </Block>
    <Block Text="属性管理权限">
      <Item Text="添加属性" Value="AddAttribute"  NeedOther="False"/>
      <Item Text="修改属性" Value="UpdateAttribute"  NeedOther="False"/>
      <Item Text="删除属性" Value="DeleteAttribute" NeedOther="False"/>
      <Item Text="查看属性" Value="ReadAttribute" NeedOther="False"/>
    </Block>
    <Block Text="规格管理权限">
      <Item Text="添加规格" Value="AddStandard"  NeedOther="False"/>
      <Item Text="修改规格" Value="UpdateStandard"  NeedOther="False"/>
      <Item Text="删除规格" Value="DeleteStandard" NeedOther="False"/>
      <Item Text="查看规格" Value="ReadStandard" NeedOther="False"/>
    </Block>
    <Block Text="标签管理权限">
      <Item Text="添加标签" Value="AddTags" NeedOther="False"/>
      <Item Text="修改标签" Value="UpdateTags" NeedOther="False"/>
      <Item Text="删除标签" Value="DeleteTags"  NeedOther="False"/>
      <Item Text="查看标签" Value="ReadTags"  NeedOther="False"/>
    </Block>
    <Block Text="商品批量修改">
      <Item Text="批量修改" Value="ProductBatchEdit" NeedOther="False"/>
    </Block>
    <Block Text="专题活动管理权限">
      <Item Text="添加专题活动" Value="AddThemeActivity" NeedOther="False"/>
      <Item Text="修改专题活动" Value="UpdateThemeActivity" NeedOther="False"/>
      <Item Text="删除专题活动" Value="DeleteThemeActivity" NeedOther="False"/>
      <Item Text="查看专题活动" Value="ReadThemeActivity" NeedOther="False"/>
    </Block>
    <Block Text="缺货登记">
      <Item Text="修改缺货登记" Value="UpdateBookingProduct"  NeedOther="False"/>
      <Item Text="删除缺货登记" Value="DeleteBookingProduct"  NeedOther="False"/>
      <Item Text="查看缺货登记" Value="ReadBookingProduct"  NeedOther="False"/>
    </Block>
    <Block Text="导入淘宝商品">
      <Item Text="导入淘宝商品" Value="TaobaoProduct" NeedOther="False"/>
    </Block>
  </Channel>

  <Channel Text="用户中心" Key="SocoShop_">
    <Block Text="会员管理权限">
      <Item Text="添加会员" Value="AddUser"  NeedOther="False"/>
      <Item Text="修改会员" Value="UpdateUser" NeedOther="False"/>
      <Item Text="激活会员" Value="ActiveUser"  NeedOther="False"/>
      <Item Text="未激活会员" Value="UnActiveUser"  NeedOther="False"/>
      <Item Text="冻结会员" Value="FreezeUser"  NeedOther="False"/>
      <Item Text="解除冻结会员" Value="UnFreezeUser"  NeedOther="False"/>
      <Item Text="查看会员" Value="ReadUser"  NeedOther="False"/>
    </Block>
    <Block Text="会员帐户管理权限">
      <Item Text="添加会员帐户" Value="AddUserAccountRecord"  NeedOther="False"/>
      <Item Text="查看会员帐户" Value="ReadUserAccountRecord"  NeedOther="False"/>
    </Block>
    <Block Text="收货地址管理权限">
      <Item Text="添加收货地址" Value="AddUserAddress"  NeedOther="False"/>
      <Item Text="修改收货地址" Value="UpdateUserAddress"  NeedOther="False"/>
      <Item Text="删除收货地址" Value="DeleteUserAddress" NeedOther="False"/>
      <Item Text="查看收货地址" Value="ReadUserAddress" NeedOther="False"/>
    </Block>
    <Block Text="会员等级管理权限">
      <Item Text="添加会员等级" Value="AddUserGrade"  NeedOther="False"/>
      <Item Text="修改会员等级" Value="UpdateUserGrade"  NeedOther="False"/>
      <Item Text="删除会员等级" Value="DeleteUserGrade"  NeedOther="False"/>
      <Item Text="查看会员等级" Value="ReadUserGrade"  NeedOther="False"/>
    </Block>
    <Block Text="用户留言管理权限">
      <Item Text="添加用户留言" Value="AddUserMessage"  NeedOther="False"/>
      <Item Text="修改用户留言" Value="UpdateUserMessage" NeedOther="False"/>
      <Item Text="删除用户留言" Value="DeleteUserMessage" NeedOther="False"/>
      <Item Text="查看用户留言" Value="ReadUserMessage"  NeedOther="False"/>
    </Block>
    <Block Text="用户充值管理权限">
      <Item Text="删除用户充值" Value="DeleteUserRecharge" NeedOther="False"/>
      <Item Text="查看用户充值" Value="ReadUserRecharge"  NeedOther="False"/>
    </Block>
    <Block Text="提现管理权限">
      <Item Text="添加提现" Value="AddUserApply"  NeedOther="False"/>
      <Item Text="修改提现" Value="UpdateUserApply" NeedOther="False"/>
      <Item Text="删除提现" Value="DeleteUserApply" NeedOther="False"/>
      <Item Text="查看提现" Value="ReadUserApply"  NeedOther="False"/>
    </Block>
    <Block Text="站内信管理权限">
      <Item Text="发送站内信" Value="AddSendMessage"  NeedOther="False"/>
      <Item Text="删除站内信" Value="DeleteSendMessage" NeedOther="False"/>
      <Item Text="查看站内信" Value="ReadSendMessage"  NeedOther="False"/>
    </Block>    
  </Channel>
  
  <Channel Text="市场营销" Key="SocoShop_">
    <Block Text="优惠券管理权限">
      <Item Text="添加优惠券" Value="AddCoupon" NeedOther="False"/>
      <Item Text="修改优惠券" Value="UpdateCoupon" NeedOther="False"/>
      <Item Text="删除优惠券" Value="DeleteCoupon" NeedOther="False"/>
      <Item Text="查看优惠券" Value="ReadCoupon" NeedOther="False"/>
      <Item Text="发放优惠券" Value="SendCoupon" NeedOther="False"/>
      <Item Text="删除用户优惠券" Value="DeleteUserCoupon" NeedOther="False"/>
      <Item Text="查看用户优惠券" Value="ReadUserCoupon" NeedOther="False"/>
    </Block>
    <Block Text="礼品权限">
      <Item Text="添加礼品" Value="AddGift" NeedOther="False"/>
      <Item Text="修改礼品" Value="UpdateGift" NeedOther="False"/>
      <Item Text="删除礼品" Value="DeleteGift" NeedOther="False"/>
      <Item Text="查看礼品" Value="ReadGift" NeedOther="False"/>
    </Block>
    <Block Text="礼品包管理权限">
      <Item Text="添加礼品包" Value="AddGiftPack" NeedOther="False"/>
      <Item Text="修改礼品包" Value="UpdateGiftPack" NeedOther="False"/>
      <Item Text="删除礼品包" Value="DeleteGiftPack" NeedOther="False"/>
      <Item Text="查看礼品包" Value="ReadGiftPack" NeedOther="False"/>
    </Block>
    <Block Text="优惠活动管理权限">
      <Item Text="添加优惠活动" Value="AddFavorableActivity" NeedOther="False"/>
      <Item Text="修改优惠活动" Value="UpdateFavorableActivity" NeedOther="False"/>
      <Item Text="删除优惠活动" Value="DeleteFavorableActivity" NeedOther="False"/>
      <Item Text="查看优惠活动" Value="ReadFavorableActivity" NeedOther="False"/>
    </Block>
    <Block Text="邮件发送管理权限">
      <Item Text="添加邮件内容" Value="AddEmailContent" NeedOther="False"/>
      <Item Text="修改邮件内容" Value="UpdateEmailContent" NeedOther="False"/>
      <Item Text="删除邮件内容" Value="DeleteEmailContent" NeedOther="False"/>
      <Item Text="查看邮件内容" Value="ReadEmailContent" NeedOther="False"/>
    </Block>
    <Block Text="邮件发送管理权限">
      <Item Text="添加邮件发送记录" Value="AddEmailSendRecord" NeedOther="False"/>
      <Item Text="删除邮件发送记录" Value="DeleteEmailSendRecord" NeedOther="False"/>
      <Item Text="查看邮件发送记录" Value="ReadEmailSendRecord" NeedOther="False"/>
    </Block>
    <Block Text="广告权限">
      <Item Text="添加广告" Value="AddAd" NeedOther="False"/>
      <Item Text="修改广告" Value="UpdateAd" NeedOther="False"/>
      <Item Text="查看广告" Value="ReadAd" NeedOther="False"/>
      <Item Text="删除广告记录" Value="DeleteAdRecord" NeedOther="False"/>
      <Item Text="查看广告记录" Value="ReadAdRecord" NeedOther="False"/>
    </Block>
    <Block Text="Flash管理权限">
      <Item Text="添加Flash" Value="AddFlash" NeedOther="False"/>
      <Item Text="修改Flash" Value="UpdateFlash" NeedOther="False"/>
      <Item Text="查看Flash" Value="ReadFlash" NeedOther="False"/>
    </Block>
    <Block Text="Flash相片管理权限">
      <Item Text="添加Flash相片" Value="AddFlashPhoto" NeedOther="False"/>
      <Item Text="修改Flash相片" Value="UpdateFlashPhoto" NeedOther="False"/>
      <Item Text="删除Flash相片" Value="DeleteFlashPhoto" NeedOther="False"/>
      <Item Text="查看Flash相片" Value="ReadFlashPhoto" NeedOther="False"/>
    </Block>
    <Block Text="友情链接权限">
      <Item Text="添加友情链接" Value="AddLink" NeedOther="False"/>
      <Item Text="修改友情链接" Value="UpdateLink" NeedOther="False"/>
      <Item Text="删除友情链接" Value="DeleteLink" NeedOther="False"/>
      <Item Text="查看友情链接" Value="ReadLink" NeedOther="False"/>
    </Block>
    <Block Text="在线调查权限">
      <Item Text="添加在线调查" Value="AddVote" NeedOther="False"/>
      <Item Text="修改在线调查" Value="UpdateVote" NeedOther="False"/>
      <Item Text="删除在线调查" Value="DeleteVote" NeedOther="False"/>
      <Item Text="查看在线调查" Value="ReadVote" NeedOther="False"/>
    </Block>
    <Block Text="在线调查选项权限">
      <Item Text="添加在线调查选项" Value="AddVoteItem" NeedOther="False"/>
      <Item Text="修改在线调查选项" Value="UpdateVoteItem" NeedOther="False"/>
      <Item Text="删除在线调查选项" Value="DeleteVoteItem" NeedOther="False"/>
      <Item Text="查看在线调查选项" Value="ReadVoteItem" NeedOther="False"/>
    </Block>
    <Block Text="在线调查记录权限">
      <Item Text="删除在线调查记录" Value="DeleteVoteRecord" NeedOther="False"/>
      <Item Text="查看在线调查记录" Value="ReadVoteRecord" NeedOther="False"/>
    </Block>
  </Channel>

  <Channel Text="订单与统计" Key="SocoShop_">
    <Block Text="订单权限">
      <Item Text="添加订单" Value="AddOrder"  NeedOther="False"/>
      <Item Text="修改订单" Value="UpdateOrder"  NeedOther="False"/>
      <Item Text="查看订单" Value="ReadOrder"  NeedOther="False"/>
      <Item Text="操作订单" Value="OperateOrder"  NeedOther="False"/>
    </Block>
    <Block Text="统计分析">
      <Item Text="会员分析" Value="StatisticsUser"  NeedOther="False"/>
      <Item Text="商品分析" Value="StatisticsProduct"  NeedOther="False"/>
      <Item Text="订单分析" Value="StatisticsOrder"  NeedOther="False"/>
      <Item Text="销售分析" Value="StatisticsSale"  NeedOther="False"/>
    </Block>
  </Channel>
</Config>