<?xml version="1.0" encoding="UTF-8"?>
<CacheKeys>
  <CacheKey Key="AdminGroup" Name="管理员组" Value="AdminGroup"/>
  <CacheKey Key="Language" Name="语言包" Value="Language"/>
  <CacheKey Key="Config" Name="配置文件" Value="Config"/>
  <CacheKey Key="NeedOther" Name="是否具有管理别人的权限" Value="NeedOther"/>
  <CacheKey Key="ProductClass" Name="商品分类" Value="ProductClass"/>
  <CacheKey Key="ProductSeries" Name="商品系列" Value="ProductSeries"/>
  <CacheKey Key="ProductBrand" Name="商品品牌" Value="ProductBrand"/>
  <CacheKey Key="Menu" Name="菜单" Value="Menu"/>
  <CacheKey Key="UserGrade" Name="用户等级" Value="UserGrade"/>
  <CacheKey Key="Region" Name="地区" Value="Region"/>
  <CacheKey Key="Shipping" Name="物流方式" Value="Shipping"/>
  <CacheKey Key="FavorableActivity" Name="优惠活动" Value="FavorableActivity"/>
  <CacheKey Key="AttributeClass" Name="属性组" Value="AttributeClass"/>
  <CacheKey Key="Attribute" Name="属性" Value="Attribute"/>
  <CacheKey Key="UploadTable" Name="上传表" Value="UploadTable"/>
  <CacheKey Key="Standard" Name="规格" Value="Standard"/>
  <CacheKey Key="ArticleClass" Name="文章分类" Value="ArticleClass"/>
  <CacheKey Key="PayPlugins" Name="支付方式插件" Value="PayPlugins"/>
  <CacheKey Key="URL" Name="地址重写" Value="URL"/>
  <CacheKey Key="Activity" Name="活动插件" Value="Activity"/>
  <CacheKey Key="Template" Name="模板插件" Value="Template"/>
  <CacheKey Key="Link" Name="友情链接" Value="Link"/>
  <CacheKey Key="HoTags" Name="热门标签" Value="HoTags"/>
  <CacheKey Key="BottomList" Name="底部导航" Value="BottomList"/>
  <CacheKey Key="EmailContent" Name="邮件内容" Value="EmailContent"/>
  <CacheKey Key="LoginPlugins" Name="登录插件" Value="LoginPlugins"/>
</CacheKeys>