<?xml version="1.0" encoding="UTF-8"?>
<Language>
  <Message key="AddOK">添加成功</Message>
  <Message key="UpdateOK">修改成功</Message>
  <Message key="DeleteOK">删除成功</Message>
  <Message key="ReplyOK">回复成功</Message>
  <Message key="SendOK">发放成功</Message>
  <Message key="SendEmailOK">发送邮件成功</Message>
  <Message key="OperateOK">操作成功</Message>
  <Message key="OffSaleOK">下架成功</Message>
  <Message key="OnSaleOK">上架成功</Message>
  <Message key="ActiveOK">激活成功</Message>
  <Message key="UnActiveOK">未激活成功</Message>
  <Message key="FreezeOK">冻结成功</Message>
  <Message key="UnFreezeOK">解除冻结成功</Message>
  <Message key="SafeCodeError">验证码错误</Message>
  <Message key="LoginFaild">登录失败</Message>
  <Message key="NoPower">没有权限</Message>
  <Message key="LoginSystem">登陆系统</Message>
  <Message key="LogoutSystem">退出系统</Message>
  <Message key="UpdateConfig">修改了系统配置文件</Message>
  <Message key="UpdateLanguage">修改了系统语言包文件</Message>
  <Message key="ChangePassword">修改了个人密码</Message>
  <Message key="NotFindPage">没有找到文件</Message>
  <Message key="ExsitsThisFile">存在该文件</Message>
  <Message key="ExsitsThisDirectory">存在该文件夹</Message>
  <Message key="ChangeAdminPassword">修改了ID为$ID的管理员密码</Message>
  <Message key="ChangeUserPassword">修改了ID为$ID的用户密码</Message>
  <Message key="AddRecord">增加了ID为$ID的$TableName的数据</Message>
  <Message key="UpdateRecord">修改了ID为$ID的$TableName的数据</Message>
  <Message key="DeleteRecord">删除了ID为$ID的$TableName的数据</Message>
  <Message key="MoveRecord">移动了ID为$ID的$TableName的数据</Message>
  <Message key="OnSaleRecord">上架了ID为$ID的$TableName的数据</Message>
  <Message key="OffSaleRecord">下架了ID为$ID的$TableName的数据</Message>
  <Message key="ActiveRecord">激活了ID为$ID的$TableName的数据</Message>
  <Message key="UnActiveRecord">未激活了ID为$ID的$TableName的数据</Message>
  <Message key="FreezeRecord">冻结了ID为$ID的$TableName的数据</Message>
  <Message key="UnFreezeRecord">解除冻结了ID为$ID的$TableName的数据</Message>
  <Message key="Admin">管理员</Message>
  <Message key="AdminLog">管理员日志</Message>
  <Message key="AdminGroup">管理员组</Message>
  <Message key="ProductClass">商品分类</Message>
  <Message key="ProductBrand">商品品牌</Message>
  <Message key="ProductSeries">商品系列</Message>
  <Message key="Product">商品</Message>
  <Message key="Menu">菜单</Message>
  <Message key="AttributeClass">属性组</Message>
  <Message key="Attribute">属性</Message>
  <Message key="AttributeRecord">属性记录</Message>
  <Message key="ArticleClass">文章分类</Message>
  <Message key="Article">文章</Message>
  <Message key="ArticleComment">文章评论</Message>
  <Message key="ProductComment">商品评论</Message>
  <Message key="ProductReply">商品回复</Message>
  <Message key="ProductPhoto">商品图片</Message>
  <Message key="Tags">商品标签</Message>
  <Message key="AdDated">广告过期</Message>
  <Message key="AdClosed">广告关闭</Message>
  <Message key="Ad">广告</Message>
  <Message key="AdRecord">广告记录</Message>
  <Message key="Link">友情链接</Message>
  <Message key="Flash">Flash</Message>
  <Message key="FlashPhoto">Flash图片</Message>
  <Message key="Vote">投票</Message>
  <Message key="VoteItem">投票选项</Message>
  <Message key="VoteRecord">投票记录</Message>
  <Message key="SelectNoItem">请选择一个项目</Message>
  <Message key="Region">地区</Message>
  <Message key="PayShippingConfig">支付物流配置</Message>
  <Message key="RestoreRecord">还原了ID为$ID的$TableName的数据</Message>
  <Message key="RestoreOK">还原成功</Message>
  <Message key="Pay">支付</Message>
  <Message key="Shipping">物流</Message>
  <Message key="ShippingRegion">物流地区</Message>
  <Message key="User">用户</Message>
  <Message key="UserGrade">用户等级</Message>
  <Message key="UserAddress">用户地址</Message>
  <Message key="UserMessage">用户留言</Message>
  <Message key="UserApply">用户提现申请</Message>
  <Message key="UserAccountRecord">用户账户记录</Message>
  <Message key="SnatchTreasure">夺宝奇兵</Message>
  <Message key="UserSnatchTreasure">用户夺宝奇兵</Message>
  <Message key="LuckyDraw">抽奖活动</Message>
  <Message key="UserLuckyDraw">用户抽奖</Message>
  <Message key="Gift">礼品</Message>
  <Message key="AuctionSale">拍卖</Message>
  <Message key="UserAuctionSale">用户拍卖</Message>
  <Message key="GroupBuy">团购</Message>
  <Message key="UserGroupBuy">用户团购</Message>
  <Message key="EmailContent">邮件内容</Message>
  <Message key="EmailSendRecord">邮件发送记录</Message>
  <Message key="Coupon">优惠券</Message>
  <Message key="SendCoupon">发放ID为$ID的优惠券</Message>
  <Message key="UserCoupon">用户优惠券</Message>
  <Message key="GiftPack">礼品包</Message>
  <Message key="FavorableActivity">优惠活动</Message>
  <Message key="UpdateExchangeAward">修改兑换奖品</Message>
  <Message key="URLRewriter">地址重写</Message>
  <Message key="UserRecharge">充值记录</Message>
  <Message key="BookingProduct">缺货登记</Message>
  <Message key="Standard">规格</Message>
  <Message key="Order">订单</Message>
  <Message key="Template">模板</Message>
  <Message key="TemplateFile">模板文件</Message>
  <Message key="SendMessage">站内信</Message>
  <Message key="ThemeActivity">专题活动</Message>
  <Message key="PayOrder">支付订单：$OrderNumber</Message>
  <Message key="OrderReturnMoney">订单：$OrderNumber退款</Message>
  <Message key="OrderReceived">订单：$OrderNumber收货确认，赠送积分</Message>
  <Message key="OrderBack">订单：$OrderNumber撤销操作，改变用户积分</Message>
  <Message key="OneTimeManyFavorableActivity">同一时间内不能出现两个优惠活动</Message>
  <Message key="CannotDeleteSystemClass">不能删除系统分类</Message>
  <Message key="OldPasswordError">旧密码错误</Message>
  <Message key="DirectoryStartWith">文件夹必须得以/upload/harddisk/开始</Message>
  <Message key="ErrorPathName">非法路径，路径只能包含数字，字母和下划线</Message>
  <Message key="LoginPlugins">登录插件</Message>
</Language>