<?xml version="1.0" encoding="UTF-8"?>
<UploadTable>
	<TableID Key="Product" Name="商品" Value="1"/>
	<TableID Key="ProductBrand" Name="商品品牌"  Value="2"/>
	<TableID Key="Article" Name="文章" Value="3"/>
	<TableID Key="ProductPhoto" Name="商品图片" Value="4"/>
	<TableID Key="Ad" Name="广告" Value="5"/>
	<TableID Key="Link" Name="友情链接" Value="6"/>
	<TableID Key="FlashPhoto" Name="Flash图片" Value="7"/>
	<TableID Key="User" Name="用户" Value="8"/>
	<TableID Key="Gift" Name="礼品" Value="9"/>
	<TableID Key="ThemeActivity" Name="专题活动" Value="10"/>
	<TableID Key="GiftPack" Name="礼品包" Value="11"/>
	<TableID Key="FavorableActivity" Name="优惠活动" Value="12"/>
	<TableID Key="Standard" Name="规格" Value="13"/>
	<TableID Key="GroupBuy" Name="团购" Value="100"/>
</UploadTable>