<?xml version="1.0" encoding="utf-8"?>
<URLRewriters>
  <URLRewriter ID="1" VitualPath="~/Product-P([0-9]*).aspx" RealPath="~/Product.aspx?Page=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter ID="2" VitualPath="~/Product-C([0-9]*).aspx" RealPath="~/Product.aspx?ClassID=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter ID="3" VitualPath="~/Product-C([0-9]*)-P([0-9]*).aspx" RealPath="~/Product.aspx?ClassID=$1&amp;Page=$2" IsEffect="True">
  </URLRewriter>
  <URLRewriter ID="4" VitualPath="~/Product-B([0-9]*).aspx" RealPath="~/Product.aspx?BrandID=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter ID="5" VitualPath="~/Product-B([0-9]*)-P([0-9]*).aspx" RealPath="~/Product.aspx?BrandID=$1&amp;Page=$2" IsEffect="True">
  </URLRewriter>
  <URLRewriter ID="6" VitualPath="~/Product/Keyword/([\d\D]*)-C([0-9]*)-P([0-9]*).aspx" RealPath="~/Product.aspx?Keyword=$1&amp;ClassID=$2&amp;Page=$3" IsEffect="True">
  </URLRewriter>
  <URLRewriter ID="7" VitualPath="~/Product/Keyword/([\d\D]*)-C([0-9]*).aspx" RealPath="~/Product.aspx?Keyword=$1&amp;ClassID=$2" IsEffect="True">
  </URLRewriter>
  <URLRewriter ID="9" VitualPath="~/Product/Keyword/([\d\D]*).aspx" RealPath="~/Product.aspx?Keyword=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter ID="10" VitualPath="~/Product/Tags/([\d\D]*)-P([0-9]*).aspx" RealPath="~/Product.aspx?Tags=$1&amp;Page=$2" IsEffect="True">
  </URLRewriter>
  <URLRewriter ID="11" VitualPath="~/Product/Tags/([\d\D]*).aspx" RealPath="~/Product.aspx?Tags=$1&amp;" IsEffect="True">
  </URLRewriter>
  <URLRewriter ID="12" VitualPath="~/Product/New.aspx" RealPath="~/Product.aspx?IsNew=1" IsEffect="True">
  </URLRewriter>
  <URLRewriter ID="13" VitualPath="~/Product/Hot.aspx" RealPath="~/Product.aspx?IsHot=1" IsEffect="True">
  </URLRewriter>
  <URLRewriter ID="14" VitualPath="~/Product/Special.aspx" RealPath="~/Product.aspx?IsSpecial=1" IsEffect="True">
  </URLRewriter>
  <URLRewriter ID="15" VitualPath="~/Product/Top.aspx" RealPath="~/Product.aspx?IsTop=1" IsEffect="True">
  </URLRewriter>
  <URLRewriter ID="16" VitualPath="~/ProductDetail-I([0-9]*).aspx" RealPath="~/ProductDetail.aspx?ID=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter ID="17" VitualPath="~/ProductReply-C([0-9]*).aspx" RealPath="~/ProductReply.aspx?CommentID=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter ID="18" VitualPath="~/Help-I([0-9]*).aspx" RealPath="~/Help.aspx?ID=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter ID="19" VitualPath="~/News-P([0-9]*).aspx" RealPath="~/News.aspx?Page=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter ID="20" VitualPath="~/NewsDetail-I([0-9]*).aspx" RealPath="~/ArticleDetail.aspx?ID=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter ID="21" VitualPath="~/ArticleDetail-P([0-9]*)-I([0-9]*).aspx" RealPath="~/ArticleDetail.aspx?ProductID=$1&amp;ID=$2" IsEffect="True">
  </URLRewriter>
  <URLRewriter ID="22" VitualPath="~/ArticleDetail-I([0-9]*).aspx" RealPath="~/ArticleDetail.aspx?ID=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter ID="23" VitualPath="~/BrandDetail-I([0-9]*).aspx" RealPath="~/BrandDetail.aspx?ID=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter ID="24" VitualPath="~/ThemeActivityDetail-I([0-9]*).aspx" RealPath="~/ThemeActivityDetail.aspx?ID=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter ID="25" VitualPath="~/GiftPackDetail-I([0-9]*).aspx" RealPath="~/GiftPackDetail.aspx?ID=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter ID="26" VitualPath="~/FavorableActivityDetail-I([0-9]*).aspx" RealPath="~/FavorableActivityDetail.aspx?ID=$1" IsEffect="True">
  </URLRewriter>
  <URLRewriter ID="27" VitualPath="~/Finish-I([0-9]*).aspx" RealPath="~/Finish.aspx?ID=$1" IsEffect="True">
  </URLRewriter>
</URLRewriters>