<?xml version="1.0" encoding="UTF-8"?>
<Pay>
  <Key Value="Bank" IsSystem="1" />
  <Name Value="银行汇款" IsSystem="1" />
  <Photo Value="/Plugins/Pay/Bank/logo.jpg" IsSystem="1" />
  <Description Value="线下银行汇款，银行转账" IsSystem="1" />
  <IsCod Value="0" IsSystem="1" />
  <IsOnline Value="0" IsSystem="1" />
  <IsEnabled Value="1" IsSystem="1" />
</Pay>