<?xml version="1.0" encoding="UTF-8"?>
<Activity>
  <Name Value="兑换奖品" />
  <Key Value="ExchangeAward" />
  <Description Value="兑换奖品是利用用户的积分兑换相同价值的奖品" />
  <AdminUrl Value="/Plugins/Activity/ExchangeAward/Admin/ExchangeAwardAdd.aspx" />
  <ShowUrl Value="/Plugins/Activity/ExchangeAward/ExchangeAward.aspx" />
  <Photo Value="/Plugins/Activity/ExchangeAward/logo.jpg" />
  <IsEnabled Value="1" />
  <ApplyVersion Value="2.0" />
  <CopyRight Value="SocoShop" />
</Activity>