<?xml version="1.0" encoding="UTF-8"?>
<ExchangeAward>
  <Name Value="兑换奖品" />
  <Content Value="1、进入奖品池页面，选择您要兑换的奖品，点击兑奖即可兑换奖品。&#xD;&#xA;2、您可以兑换您的积分所对应的奖品池内任意一样奖品。&#xD;&#xA;3、兑换奖品后将扣除您的积分。&#xD;&#xA;4、奖品池内奖品数量有限，先到先得，兑完为止。我们将会不定期更新更多精彩奖品。&#xD;&#xA;5、参与兑奖必须得是我们网站的注册会员，兑换的时候请填写好您的邮寄信息，网站自动生成订单统一处理。" />
  <PorudctIDList Value="" />
  <PointList Value="" />
</ExchangeAward>