<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="DataProvider" value="SocoShop.MssqlDAL" />
		<add key="ConnectionString" value="server=.\SQLExpress;uid=sa;pwd=sa;database=SocoShop" />
		<add key="TablePrefix" value="SocoShop_" />
		<add key="MessageType" value="WebType" />
		<add key="FCKeditor:BasePath" value="~/Admin/FCKeditor/" />
		<add key="FCKeditor:UserFilesPath" value="~/Embed/" />
	</appSettings>
	<system.web>
		<compilation defaultLanguage="C#" debug="true">
			<assemblies>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
		</compilation>
		<pages validateRequest="false" enableSessionState="true" enableViewState="true" enableEventValidation="false" />
		<customErrors defaultRedirect="error.htm" mode="Off" />
		<globalization fileEncoding="UTF-8" requestEncoding="UTF-8" responseEncoding="UTF-8" culture="zh-CN" />
		<httpRuntime maxRequestLength="2000000" executionTimeout="300" />
		<httpModules>
			<add name="URLRewriterModule" type="SkyCES.EntLib.URLRewriterModule, SkyCES.EntLib" />
		</httpModules>
		<httpHandlers>
			<add verb="GET,HEAD,POST,DEBUG" path="CheckCode.ashx" type="SkyCES.EntLib.CheckCode" />
		</httpHandlers>
	</system.web>
</configuration>