<?xml version="1.0" encoding="UTF-8"?>
<Login>
  <Key Value="Taobao" IsSystem="1" />
  <Name Value="淘宝" IsSystem="1" />
  <Photo Value="/Plugins/Login/Taobao/logo.png" IsSystem="1" />
  <Description Value="淘宝开放平台，http://open.taobao.com/" IsSystem="1" />
  <IsEnabled Value="1" IsSystem="1" />
  <AppKey Value="12319550" IsSystem="0" Name="App Key" />
  <AppSecret Value="bac9c59eda672abbe26feb8a861fdf95" IsSystem="0" Name="App Secret" />
</Login>