<?xml version="1.0" encoding="UTF-8"?>
<Pay>
  <Key Value="AliPay" IsSystem="1" />
  <Name Value="支付宝" IsSystem="1" />
  <Photo Value="/Plugins/Pay/AliPay/logo.gif" IsSystem="1" />
  <Description Value="信用担保付款方式以买家保障体系：保证买卖资金货物安全。" IsSystem="1" />
  <IsCod Value="0" IsSystem="1" />
  <IsOnline Value="1" IsSystem="1" />
  <IsEnabled Value="1" IsSystem="1" />
  <Partner Value="" IsSystem="0" Name="合作伙伴ID" />
  <SellerEmail Value="" IsSystem="0" Name="卖家帐号" />
  <SecurityKey Value="" IsSystem="0" Name="安全校验码" />
  <Service Value="create_partner_trade_by_buyer" IsSystem="0" Name="服务参数" SelectValue="trade_create_by_buyer|标准双接口交易#create_direct_pay_by_user|直接付款#create_partner_trade_by_buyer|担保付款" />
</Pay>