<?xml version="1.0" encoding="UTF-8"?>
<Login>
  <Key Value="QQ" IsSystem="1" />
  <Name Value="QQ" IsSystem="1" />
  <Photo Value="/Plugins/Login/QQ/logo.png" IsSystem="1" />
  <Description Value="http://open.qq.com/" IsSystem="1" />
  <IsEnabled Value="1" IsSystem="1" />
  <AppKey Value="215771" IsSystem="0" Name="App Key" />
  <AppSecret Value="dae084e61d7e9a9bb84c55f845edc6b9" IsSystem="0" Name="App Secret" />
</Login>