<?xml version="1.0" encoding="UTF-8"?>
<Login>
  <Key Value="Sina" IsSystem="1" />
  <Name Value="新浪微博" IsSystem="1" />
  <Photo Value="/Plugins/Login/Sina/logo.png" IsSystem="1" />
  <Description Value="http://open.weibo.com/" IsSystem="1" />
  <IsEnabled Value="1" IsSystem="1" />
  <AppKey Value="3587646579" IsSystem="0" Name="App Key" />
  <AppSecret Value="fa997b0e0e3b048b5fda4f4627284af9" IsSystem="0" Name="App Secret" />
</Login>