<?xml version="1.0" encoding="UTF-8"?>
<EmailConfig>
  <EmailTitle>审核订单</EmailTitle>
  <IsSystem>1</IsSystem>
  <Key>CheckOrder</Key>
  <EmailContent>$UserName$：您的订单$OrderNumber$审核成功；</EmailContent>
  <Note>$OrderNumber$：订单号；$UserName$：用户名；$PayName$：支付方式；$ShippingName$：配送方式；$ShippingNumber$：物流单号；$ShippingDate$：配送时间</Note>
</EmailConfig>