<?xml version="1.0" encoding="UTF-8"?>
<EmailConfig>
  <EmailTitle>订单收货确认</EmailTitle>
  <IsSystem>1</IsSystem>
  <Key>ReceivedOrder</Key>
  <EmailContent>$UserName$：您的订单$OrderNumber$已经收货确认；</EmailContent>
  <Note>$OrderNumber$：订单号；$UserName$：用户名；$PayName$：支付方式；$ShippingName$：配送方式；$ShippingNumber$：物流单号；$ShippingDate$：配送时间</Note>
</EmailConfig>