<?xml version="1.0" encoding="UTF-8"?>
<EmailConfig>
  <EmailTitle>用户注册确认</EmailTitle>
  <IsSystem>1</IsSystem>
  <Key>Register</Key>
  <EmailContent>$UserName$：恭喜您的注册，请点击&lt;a href="$Url$"&gt;激活&lt;/a&gt;或者复制该地址到浏览器地址栏：$Url$</EmailContent>
  <Note>
    $UserName$：注册的用户名；$Url$：激活的地址</Note>
</EmailConfig>