<?xml version="1.0" encoding="UTF-8"?>
<EmailConfig>
  <EmailTitle>订单发货</EmailTitle>
  <IsSystem>1</IsSystem>
  <Key>SendOrder</Key>
  <EmailContent>$UserName$：您的订单$OrderNumber$于$ShippingDate$已经发货，单号：$ShippingNumber$；配送方式：$ShippingName$；</EmailContent>
  <Note>$OrderNumber$：订单号；$UserName$：用户名；$PayName$：支付方式；$ShippingName$：配送方式；$ShippingNumber$：物流单号；$ShippingDate$：配送时间</Note>
</EmailConfig>