<?xml version="1.0" encoding="UTF-8"?>
<Activity>
  <Name Value="团购" />
  <Key Value="GroupBuy" />
  <Description Value="团购就是认识的或者不认识的消费者联合起来，来加大与商家的谈判能力，以求得最优价格的一种购物方式。" />
  <AdminUrl Value="/Plugins/Activity/GroupBuy/Admin/GroupBuy.aspx" />
  <ShowUrl Value="/Plugins/Activity/GroupBuy/GroupBuyList.aspx" />
  <Photo Value="/Plugins/Activity/GroupBuy/logo.jpg" />
  <IsEnabled Value="1" />
  <ApplyVersion Value="2.0" />
  <CopyRight Value="SocoShop" />
</Activity>