<?xml version="1.0" encoding="UTF-8"?>
<Pay>
  <Key Value="TenPay" IsSystem="1" />
  <Name Value="财付通" IsSystem="1" />
  <Photo Value="/Plugins/Pay/TenPay/logo.gif" IsSystem="1" />
  <Description Value="腾讯公司领先的在线支付平台，提供安全、便捷、专业的在线支付服务。" IsSystem="1" />
  <IsCod Value="0" IsSystem="1" />
  <IsOnline Value="1" IsSystem="1" />
  <IsEnabled Value="1" IsSystem="1" />
  <BargainorID Value="" IsSystem="0" Name="商户编号" />
  <BusinessKey Value="" IsSystem="0" Name="商户密钥" />
</Pay>