<?xml version="1.0" encoding="UTF-8"?>
<Pay>
  <Key Value="CodPay" IsSystem="1" />
  <Name Value="货到付款" IsSystem="1" />
  <Photo Value="/Plugins/Pay/CodPay/logo.gif" IsSystem="1" />
  <Description Value="货到付款，更方便，更快捷" IsSystem="1" />
  <IsCod Value="1" IsSystem="1" />
  <IsOnline Value="0" IsSystem="1" />
  <IsEnabled Value="1" IsSystem="1" />
</Pay>