<?xml version="1.0" encoding="UTF-8"?>
<Pay>
  <Key Value="BillPay" IsSystem="1" />
  <Name Value="快钱" IsSystem="1" />
  <Photo Value="/Plugins/Pay/BillPay/logo.gif" IsSystem="1" />
  <Description Value="支持国内所有银行卡网银支付，并可享受积分换礼。" IsSystem="1" />
  <IsCod Value="0" IsSystem="1" />
  <IsOnline Value="1" IsSystem="1" />
  <IsEnabled Value="1" IsSystem="1" />
  <MerchantID Value="" IsSystem="0" Name="商户编号" />
  <MerchantKey Value="" IsSystem="0" Name="商户密钥" />
</Pay>